@using VtM.Enums
@model VtM.Models.Coterie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Coterie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chasse" class="control-label"></label>
                <input asp-for="Chasse" class="form-control" />
                <span asp-validation-for="Chasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lien" class="control-label"></label>
                <input asp-for="Lien" class="form-control" />
                <span asp-validation-for="Lien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portillon" class="control-label"></label>
                <input asp-for="Portillon" class="form-control" />
                <span asp-validation-for="Portillon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoterieType" class="control-label"></label>
                <input asp-for="CoterieType" class="form-control" />
                <span asp-validation-for="CoterieType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicity" class="control-label"></label>
                <select asp-for="Publicity" asp-items="Html.GetEnumSelectList<Publicity>()" class="form-control"></select>
                <span asp-validation-for="Publicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input type="file" asp-for="FormFile" class="form-control" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            
            <div class"form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">Character</label>
                    </div>
                    <div class="col">
                        <label class="control-label">Tenet</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                         <select id="characterId" class ="form-control" asp-items="ViewBag.Characters"></select>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="tenetId" />
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <button id="AddId" name="Add" type="button" class"btn btn-dark btn-sm">Add</button>
                    </div>
                    <div class="col">
                        <button id="DeleteId" name="Delete" type="button" class"btn btn-dark btn-sm">Delete</button>
                    </div>

                </div>

                <div class="row">
                    <select class="btn-block" name="tenetValues" id="TenetList" multiple></select>
                </div>

            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=~/js/CoterieTenet.js> </script>
<script>
    let tenetValues = '@ViewData["TenetValues"]';

    document.getElementById("AddId").addEventListener("click", AddChronicleTenet );
    document.getElementById("DeleteId").addEventListener("click", DeleteChronicleTenet );

</script>

